
<p>
  <h3><%= @company.name %></h3>
</p>

<%= render 'complaints/form', complaint: @complaint, company: @company %>

<h3>Reclamos</h3>
<ol id="companyComplaints" class="list-group">
<% @company.complaints.order(created_at: :desc).each do |complaint| %>
  <li class="list-group-item"><%= complaint.content %>
  <strong>Reclamo por: </strong><%= complaint.user.email %></li>
<% end %>
</ol>
<hr>



<%= link_to 'Editar Empresa', edit_company_path(@company), class:"btn btn-info mb-2"  %> <br>
<%= link_to 'Back', companies_path, class:"btn btn-dark" %>
